<h2>Welcome to my list of interesting articles</h2>
<fb:name></fb:name>, we recommend you the following articles.
<table>
	<% @articles.each do |article| %>
	<tr>
		<td class='article'><%=article[:title]%></td><td><fb:like href="<%=article[:link]%>" layout="button_count" show_faces="false" /></td>
	</tr>
	<% end %>
	<tr>
		<td colspan='2'>...</td>
	</tr>
</table>

<hr />
<br />

<p>Do you like this application?</p>
<p><fb:like /></p>
