<fb:login-button autologoutlink="true"></fb:login-button>
<h3>Welcome to my list of interesting articles</h3>

<table>
	<% @articles.each do |article| %>
	<tr>
		<td class='article'>- <a href='javascript:void(0);'><%=article[:title]%></a></td>
		<td><fb:like href="<%=article[:link]%>" layout="button_count" show_faces="false" /></td>
	</tr>
	<% end %>
</table>

<hr />
<p><span class='like_app'>Do you like this application?</span></p>
<p><fb:like /></p>