<p><span id='login'><fb:login-button autologoutlink="true" /></span></p>

<table>
	<tr>
		<td>Heroku is the instant ruby platform</td><td><fb:like href="http://www.heroku.com" layout="button_count" show_faces="false" /></td>
	</tr>
	<tr>
		<td>Ruby in twenty minutes</td><td><fb:like href="http://www.ruby-lang.org/en/documentation/quickstart/" layout="button_count" show_faces="false" /></td>
	</tr>
	<tr>
		<td colspan='2'>...</td>
	</tr>
</table>
<hr />
<br />
<p>Do you like this site? <fb:like /></p>