<!DOCTYPE HTML>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
		<title>Faceboku</title>
		<style>
			body { font-family: Arial; font-size: 20px ;}
			a { text-decoration: none; color: #333; }
			.article { font-size: 1.2em; }
			.like_app { font-size: 0.8em }
		</style>
	</head>
	<body>
		<%= yield %>
		<div id="fb-root"></div>
		<script>
			window.fbAsyncInit = function() {

				FB.init({
					appId: '<%=APP_ID%>',
					status: true,
					cookie: true,
			        xfbml: true
				});
			};

			(function() {
			  var e = document.createElement('script');
			  e.type = 'text/javascript';
			  e.src = document.location.protocol +
			    '//connect.facebook.net/en_US/all.js';
			  e.async = true;
			  document.getElementById('fb-root').appendChild(e);
			}());
		</script>
		
	</body>
</html>