<!DOCTYPE HTML>
<html>
	<head>
		<meta property="og:title" content="List of Articles"></meta>
	    <meta property="og:type" content="website"></meta>
	    <meta property="og:image" content="http://radiant-sky-944.heroku.com/images/heroku_logo.png"></meta>
	    <meta property="og:url" content="http://radiant-sky-944.heroku.com/"></meta>
	    <meta property="og:site_name" content="Jay Godse:Heroku:Interesting Articles"></meta>
	    <meta property="fb:admins" content="580332546"></meta>
	    
		<title>Faceboku</title>
		<style>
			body { font-family: Arial; font-size: 20px ;}
			a { text-decoration: none; color: #333; }
			.logout a { color: #2554C7; font-size: 15px; }
			.article { font-size: 1.2em; }
			.like_site { font-size: 0.8em }
		</style>
	</head>
	<body>
		<%= yield %>
	</body>
</html>