<!DOCTYPE HTML>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
		<title>Faceboku</title>
	</head>
	<body>
		<%= yield %>
		<div id="fb-root"></div>
		<script>
			window.fbAsyncInit = function() {

				FB.init({
					appId: '153304591365687',
					status: true,
					cookie: true,
			        xfbml: false
				});
				
				FB.Event.subscribe('auth.login', function(response) {
		        	window.location.reload();
		      	});

				FB.Event.subscribe('auth.logout', function(response) {
		        	window.location.reload();
		      	});
				
				FB.getLoginStatus(function(response) {
				  if (response.session) {
				    // logged in and connected user, someone you know
					FB.XFBML.parse();
				  } else {
				    // no user session available, someone you dont know
					FB.XFBML.parse(document.getElementById('login'));
				  }
				});
			};

			(function() {
			  var e = document.createElement('script');
			  e.type = 'text/javascript';
			  e.src = document.location.protocol +
			    '//connect.facebook.net/en_US/all.js';
			  e.async = true;
			  document.getElementById('fb-root').appendChild(e);
			}());
		</script>
		
	</body>
</html>