<!DOCTYPE HTML>
<html>
	<head>
		<meta property="og:title" content="List of Articles"/>
	    <meta property="og:type" content="website"/>
	    <meta property="og:image" content="http://faceboku.heroku.com/images/heroku_logo.png"/>
	    <meta property="og:url" content="http://faceboku.heroku.com/"/>
	    <meta property="og:site_name" content="Heroku:Interesting Articles"/>
	    <meta property="fb:admins" content="643897273"/>
	    
		<title>Faceboku</title>
		<style>
			body { font-family: Arial; font-size: 20px ;}
			a { text-decoration: none; color: #333; }
			.logout a { color: #2554C7; font-size: 15px; }
			.article { font-size: 1.2em; }
			.like_site { font-size: 0.8em }
		</style>
	</head>
	<body>
		<%= yield %>
	</body>
</html>